img {
  margin-left: 30px;
  cursor: pointer;
}

.navegacion {
  border-bottom: 1px solid #bebebe;
}

.buscador {
  display: flex;
  list-style: none;
  border: 1px #bebebe solid;
  border-radius: 30px;
  margin-left: 215px;
  padding-right: 5px;
  padding-top: 12px;
  padding-bottom: 0px;
  width: 520px;
  height: 45px;
  font-size: 13px;
  box-shadow: 0 2px 3px rgba(128, 125, 125, 0.5);
}

.buscador ul {
  display: flex;
  list-style: none;
}

.buscador li {
  margin-left: 20px;
  margin-right: 5px;
  border-right: 1px #bebebe solid;
  height: 25px;
  padding-right: 10px;
}

.cuantos b {
  color: rgb(177, 166, 166);
  text-transform: none;
  margin-left: 10px;
}

.cuantos {
  color: white;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.cuantos i {
  position: relative;
  bottom: 1px;
  background-color: #ff385c;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 2px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  padding: 7px;
  text-align: center;
  align-items: center;
}

.buscador:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(128, 125, 125, 0.5);
}

.navclick {
  margin-left: 50px;
  border-radius: 25px;
  padding: 10px;
  border: none;
  background-color: transparent;
  margin-top: 47px;
}

.navclick:hover {
  background-color: #f7f7f7;
}

.mundo button {
  width: 45px;
  height: 40px;
  margin-left: 0px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.mundo button:hover {
  background-color: #f7f7f7;
}

.avatar {
  position: relative;
  bottom: 42px;
  left: 310px;
  border: 1px #bebebe solid;
  width: 45px;
  margin-left: 5px;
  color: black;
  align-items: center;
  width: 85px;
  height: 40px;
  border-radius: 25px;
  padding-bottom: 5px;
}

.avatar span {
  margin-bottom: 10px;
}

.avatar i {
  padding-left: 10px;
  margin-bottom: 10px;
}

.avatar:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(128, 125, 125, 0.5);
}

.lista {
  position: relative;
  bottom: 3px;
}

.persona {
  position: relative;
  bottom: 2px;
  color: gray;
}

.modal-custom {
  position: fixed;
  bottom: 55%;
  left: 77%;
  background-color: transparent;
  cursor: pointer;
  
}

.modal-list {
  list-style-type: none;
  padding: 0px;
} 

.modal-list li {
  padding: 10px;
  padding-right: 70px;
  padding-left: 15px;
}

.modal-list li:hover {
  background-color: #eee5e5;
}

.modal-body {
  padding: 0;
}

.inicia-sesion {
  border-bottom: 1px solid gray;
}

.modal-header-custom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px #bebebe solid
}

.transparent-btn {
  background-color: transparent;
  border: none;
  color: grey;
}

.transparent-btn:hover {
  background-color: #bebebe;
}

.traductor {
  position: relative;
  left: 40px;
  top: 20px;
  border: #bebebe 1px solid;
  width: 52%;
  height: 80px;
  background-color: #F7F7F7;
  border-radius: 10px;
  padding: 5px;
  padding-left: 20px;
  color: gray;
}

